plan:

print the price list of all items in the pandas dataframe for anyitem searched on amazon or flipkart

In [35]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

making the search url

In [36]:
items = "+".join(input("Enter the item you wish to search for in flipkart or amazon\n").split())

fliplink = 'https://www.flipkart.com/search?q='+items

amzlink = 'https://www.amazon.in/s?k='+items

print(fliplink)

print("\n",amzlink)

Enter the item you wish to search for in flipkart or amazon
jack and jones shirt
https://www.flipkart.com/search?q=jack+and+jones+shirt

 https://www.amazon.in/s?k=jack+and+jones+shirt

In [37]:
res = requests.get(fliplink)
soup = bs(res.content,'html.parser')

item_prices = []
abc = soup.find_all("div" , {"class":"_1vC4OE"})
abc = abc[:20]
for i in abc:
    item_prices.append(i.getText())
    
    item_names = []
abc = soup.find_all('a',{"class":"_2mylT6"})
abc = abc[:20]
for i in abc:
    item_names.append(i.getText())
    
    
item_brands = []
abc = soup.find_all("div",{"class":"_2B_pmu"})
abc = abc[:20]
for i in abc:
    item_brands.append(i.getText())

items = [(item_brands[i],item_names[i],item_prices[i]) for i in range(len(item_names))]

items

[('Jack & Jones', 'Men Solid Casual Button Down Shirt', '₹599'),
 ('Jack & Jones', 'Men Solid Casual Shirt', '₹899'),
 ('Jack & Jones', 'Men Checkered Casual Spread Shirt', '₹979'),
 ('Jack & Jones', 'Men Solid Casual Button Down Shirt', '₹599'),
 ('Jack & Jones', 'Men Solid Casual Mandarin Shirt', '₹599'),
 ('Jack & Jones', 'Men Solid Casual Shirt', '₹749'),
 ('Jack & Jones', 'Men Solid Casual Spread Shirt', '₹1,199'),
 ('Jack & Jones', 'Men Solid Casual Spread Shirt', '₹899'),
 ('Jack & Jones', 'Men Printed Casual Button Down Shirt', '₹749'),
 ('Jack & Jones', 'Men Solid Casual Shirt', '₹1,162'),
 ('Jack & Jones', 'Men Solid Casual Cut Away Shirt', '₹749'),
 ('Jack & Jones', 'Men Washed Casual Shirt', '₹899'),
 ('Jack & Jones', 'Men Printed Casual Shirt', '₹1,154'),
 ('Jack & Jones', 'Men Printed Casual Shirt', '₹749'),
 ('Jack & Jones', 'Men Checkered Casual Spread Shirt', '₹749'),
 ('Jack & Jones', 'Men Self Design Casual Spread Shirt', '₹1,049'),
 ('Jack & Jones', 'Men Washed Casual Button Down Shirt', '₹979'),
 ('Jack & Jones', 'Men Checkered Casual Spread Shirt', '₹979'),
 ('Jack & Jones', 'Men Embroidered Casual Spread Shirt', '₹1,649'),
 ('Jack & Jones', 'Men Checkered Casual Spread Shirt', '₹1,249')]

In [38]:
img = soup.find("img",{"class":"_3togXc"})

In [39]:
img

In [32]:
az= 'https://www.amazon.in/s?k=mens+jacket&ref=nb_sb_noss_2'

In [45]:
res=requests.get(az)
res.status_code
r = requests.get(url, headers=headers, proxies=proxies)

NameError: name 'url' is not defined

In [43]:

'''
soup = bs(res.content,'html.parser')

abc = soup.find_all("span",{'class':" a-price"})

abc

'''

'\nsoup = bs(res.content,\'html.parser\')\n\nabc = soup.find_all("span",{\'class\':" a-price"})\n\nabc\n\n'

[('Full Sleeve Applique Women Jacket', '₹474'),
 ('Full Sleeve Solid Women Denim Jacket', '₹474'),
 ('3/4th Sleeve Solid Women Jacket', '₹499'),
 ('3/4th Sleeve Solid Women Jacket', '₹499'),
 ('Full Sleeve Solid Women Denim Jacket', '₹474'),
 ('3/4th Sleeve Solid Women Jacket', '₹499'),
 ('Full Sleeve Solid Women Denim Jacket', '₹450'),
 ('Full Sleeve Washed Men Jacket', '₹1,259'),
 ("Full Sleeve Solid Men's Jacket", '₹2,249'),
 ('Full Sleeve Washed Men Denim Jacket', '₹1,399'),
 ('Sleeveless Solid Boys Denim Jacket', '₹729'),
 ('3/4th Sleeve Solid Women Jacket', '₹499'),
 ('Full Sleeve Washed Women Jacket', '₹599'),
 ('Full Sleeve Solid Women Jacket', '₹529'),
 ('Full Sleeve Floral Print Women Denim Jacket', '₹499'),
 ('Full Sleeve Washed Women Jacket', '₹599'),
 ('Full Sleeve Washed Women Jacket', '₹599'),
 ("Full Sleeve Solid Men's Denim Jacket", '₹1,499'),
 ('Full Sleeve Solid Men Denim Jacket', '₹1,208'),
 ('Full Sleeve Solid Women Jacket', '₹529')]

In [80]:
pd.DataFrame(items)

                                              0       1
0             Full Sleeve Applique Women Jacket    ₹474
1          Full Sleeve Solid Women Denim Jacket    ₹474
2               3/4th Sleeve Solid Women Jacket    ₹499
3               3/4th Sleeve Solid Women Jacket    ₹499
4          Full Sleeve Solid Women Denim Jacket    ₹474
5               3/4th Sleeve Solid Women Jacket    ₹499
6          Full Sleeve Solid Women Denim Jacket    ₹450
7                 Full Sleeve Washed Men Jacket  ₹1,259
8                Full Sleeve Solid Men's Jacket  ₹2,249
9           Full Sleeve Washed Men Denim Jacket  ₹1,399
10           Sleeveless Solid Boys Denim Jacket    ₹729
11              3/4th Sleeve Solid Women Jacket    ₹499
12              Full Sleeve Washed Women Jacket    ₹599
13               Full Sleeve Solid Women Jacket    ₹529
14  Full Sleeve Floral Print Women Denim Jacket    ₹499
15              Full Sleeve Washed Women Jacket    ₹599
16              Full Sleeve Washed Women Jacket    ₹599
17         Full Sleeve Solid Men's Denim Jacket  ₹1,499
18           Full Sleeve Solid Men Denim Jacket  ₹1,208
19               Full Sleeve Solid Women Jacket    ₹529

In [22]:
res  = requests.get('https://www.flipkart.com/search?q=hey+there')

In [22]:
res  = requests.get('https://www.flipkart.com/search?q=hey+there')